:root {
    --primary-dark: #2a4d69;
    --primary-light: #4b86b4;
    --secondary-light: #adcbe3;
    --background-light: #e7eff6;
    --highlight: #63ace5;
    --text-dark: #213547;
    --button-dark: #2a4d69;
    --button-hover: #63ace5;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    height: fit-content;
    background-color: var(--background-light);
    font-family: 'Inter', sans-serif;
  }
  
  .form-container {
    background-color: white;
    width: 40%;
    max-width: 500px;
    min-width: 350px;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-light);
  }
  
  h2 {
    text-align: center;
    color: var(--primary-dark);
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 1rem;
    color: var(--primary-dark);
    font-weight: 600;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--secondary-light);
    border-radius: 8px;
    margin-top: 6px;
    font-size: 1rem;
    background-color: var(--background-light);
    color: var(--text-dark);
    transition: 0.3s;
  }
  
  input:focus,
  textarea:focus {
    border-color: var(--primary-light);
    outline: none;
    background-color: var(--background-light);
  }
  
  button {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: var(--button-dark);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--button-hover);
  }
  
  button:focus {
    outline: none;
  }
  
  @media (max-width: 768px) {
    .form-container {
      width: 90%;
      padding: 20px;
    }
  
    h2 {
      font-size: 1.8rem;
    }
  }
  